
#hero {
    background: url('../img/herobg.jpg') no-repeat center center;
    background-size: cover;
    h1 {
        color: $dark-gray; /* Color del texto del encabezado */
    }
    p {
        color: $gray; /* Color del texto del párrafo */
    }
        
}

.img-hero {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.btn-cta {
    background-color: $primary-color;
    border-color: $accent-color;
    color: $white;
};