
.navbar {
  background-color: $primary-color;
  color: #ffffff;

  .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &:hover {
      color: $secondary-color;
    }
  }

  .navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 1rem;

    &:hover {
      color: $secondary-color;
    }

    &.active {
      color: $accent-color;
    }
  }

  .navbar-toggler {
    border-color: #ffffff;
    background-color: $accent-color;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: lighten($accent-color, 10%);
    }

    .navbar-toggler-icon {
      background-image: none;
      color: #ffffff;
      font-size: 1.4rem;
      line-height: 1.40;
      
      &:before {
        content: "\f0c9"; /* FontAwesome icon: fa-bars */
        font-family: "Font Awesome 5 Free";
        font-weight: 1000;   
      }
    }
  }

  .btn-primary {
    background-color: $accent-color;
    border-color: $accent-color;
    color: #ffffff;

    &:hover {
      background-color: lighten($accent-color, 10%);
      border-color: lighten($accent-color, 10%);
    }
  }
}