@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-principal: "Lato", sans-serif;

$primary-color: #003366; // Azul Oscuro
$secondary-color: #00cc66; // Verde Claro
$accent-color: #3399ff; // Azul Claro
$background-color: #ffffff; // Fondo Blanco
$text-color: #333333; // Color de texto principal

// Escala de Grises
$white: #ffffff;
$light-gray: #f8f9fa;
$gray: #6c757d;
$dark-gray: #343a40;
$black: #000000;